.navbar a {
    text-decoration: none;
    color: white;
}

.IMG img{
    width: 25px;
    height: 25px;
}
.main   {
    background-color: rgb(215, 215, 250);
}

.sidebar    {
    font-size: 12px;
    text-decoration: none !important;
    font-weight: bold;
}


@media(min-height:800px) {
    .sidebar-div    {
        border-radius: 2px;
        height: 100%;
    }
}

.sidebar-footer {
    margin-top: 210px;
}


@media(min-height:1100px) {
    .sidebar-main    {
        border-radius: 2px;
        height: 100%;
    }
}

.sidebar-div p  {
   font-size: small;
}

#home   {
    background-color: rgb(215, 215, 250);
    margin-top: 3px;
    border-radius: 5px;
}

.profiles img {
    width: 30px;
    height: 30px;
}

.profiles p {
    font-size: x-small;
}


@media(min-height:1100px) {
    .sidebar-down   {
    border-radius: 2px;
    height: 400px;
    }
}

.l-img  {
    height: 130px;
}